header{

background-image: url("../../Images/backgroung.jpg");
}

.project{
    padding: 15px;
    font-family: 'Josefin Sans', sans-serif;
    color:white;
    background-color: black;
}

.otaku{
    padding: 20px;
    margin: 50px;
}

.note{
    padding: 20px;
    margin: 50px;
}

.weather{
    padding: 20px;
    margin: 50px;
}

.budget-tracker{
    padding: 20px;
    margin: 50px;
}

.Entertain-Me{
    padding: 20px;
    margin: 50px;
}

.Employee-Directory{
    padding: 20px;
    margin: 50px;
}

p{
    font-family: 'Josefin Sans', sans-serif;
}

#Otaku-img
{
    height:  600px;
    width:  600px;
    margin: 0 10px 0;
}

#Note-img{
    height:  600px;
    width:  600px;
    margin: 0 10px 0;
}

#Weather-img{
    height:  600px;
    width:  600px;
    margin: 0 10px 0;
}

#budgetTracker-img{
    height:  600px;
    width:  600px;
    margin: 0 10px 0;
}

#entertainMe-img{
    height:  600px;
    width:  600px;
    margin: 0 10px 0;
}

#employeedirectory-img{
    height:  600px;
    width:  600px;
    margin: 0 10px 0;
}

p{
    font-family: 'Josefin Sans', sans-serif;
}

.OkatuImg{
    width:"300";
    height:"300";
   
  }

@media (min-width: 800px) {
    .app{
      padding: 0 100px;
      margin-top:5vh;
      min-height: 90vh;
    }
  }
