header{
    max-width: 100%; 
    padding: 10px;
}

#index-navbar{
    color: white;
    max-width: 100%; 
    padding: 10px;
}

#index-link{
  font-size: large;

}

@media (min-width: 800px) {
    .app{
      padding: 0 100px;
      margin-top:5vh;
      min-height: 90vh;
    }
  }
  