header{
    background-color: black;
    padding: 15px;
    font-family: 'Josefin Sans', sans-serif;
    color:white;
    }
    
@media (min-width: 800px) {
        .app{
          padding: 0 100px;
          margin-top:5vh;
          min-height: 90vh;
        }
      }
    