.header{
  background-color:black;
  color:white;
}

.container{
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  background-color: black;
  }

.about-me{
  font-family: 'Josefin Sans', sans-serif;
  padding:20px;
}

p{
    font-family: 'Josefin Sans', sans-serif;
  }

.portfolio {
  font-family: 'Josefin Sans', sans-serif;
}

h3{
  font-family: 'Josefin Sans', sans-serif;
}


h4{
  font-family: 'Josefin Sans', sans-serif;
}

.interests{
  font-family: 'Josefin Sans', sans-serif;
}

#self-div{
  width:"300";
  height:"300";
  float:left;
  margin: 0 10px 0;
}
  
@media (min-width: 800px) {
    .app{
      padding: 0 100px;
      margin-top:5vh;
      min-height: 90vh;
    }
  }