.container{
    color: black;
    background-image: url("../../Images/backgroung.jpg");
  }


  p{
    font-family: 'Josefin Sans', sans-serif;
  }

.portfolio {
  font-family: 'Josefin Sans', sans-serif;
}

h3{
  font-family: 'Josefin Sans', sans-serif;
}


h4{
  font-family: 'Josefin Sans', sans-serif;
}

#self-div{
  width:"300";
  height:"300";
  float:left;
  margin: 0 10px 0;
}
  
  /* @media (min-width: 800px) {
    .app{
      padding: 0 100px;
      margin-top:5vh;
      min-height: 90vh;
    }
  }
   */