footer {
    padding: 10px 0;
    background-color: black;
    color:white;
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 35px;
    width: 100%;
}

p{ 
  text-align: center;
}
  
footer img {
    max-width: 60px;
    margin-left: 200px;
    margin-bottom: 50px;
  }
  
  
footer img:not(:last-child) {
    margin-right: 10px;
  }